## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

In [ ]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there Sam!"

In [ ]:
s=s.split()
print(s)

['Hi', 'there', 'Sam!']

**Given the variables:**

    planet = "Earth"
    diameter = 12742

**Use .format() to print the following string:**

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {planet} is {diameter} kilometers.".format(planet=planet,diameter=diameter))

The diameter of Earth is 12742 kilometers.

[link text](https://)** Given this nested list, use indexing to grab the word 

---

"hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst [3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#List is mutable, Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
email="user@domain.com"

In [ ]:
print(email[email.index("@")+1:])

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def find_word(s):
  if 'dog' in s.lower():
    return True 
  else:
    return False

In [ ]:
find_word("Dog is the Animal")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def find_word_count(s):
  l=s.lower().split() 
  c=0
  for i in l:
    if i=='dog':
      c=c+1
  return c

In [ ]:
find_word_count("The dog or domestic dog is a domesticated descendant of the wolf. The dog is derived from an ancient.")

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(99,True)

'Big Ticket'

In [ ]:
caught_speeding(67,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
l =[35000, 40000, 45000, 30000, 50000]
print("Employee salary")
for i in l:print(i)
total=0
for i in l:total+=i
print("Total salary expendiure")
print(total)

Employee salary
35000
40000
45000
30000
50000
Total salary expendiure
200000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [4]:
d1={'Empid':99,'Empname':'PushpaRaj','Basicpay':99000}
d2={'DeptName':'CSE','DeptId':'19CSE'}
d1.update(d2)
print(d1)

{'Empid': 99, 'Empname': 'PushpaRaj', 'Basicpay': 99000, 'DeptName': 'CSE', 'DeptId': '19CSE'}